body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
}

.section_title {
    color: #562EFF;
    font-size: 24;
    margin-bottom: 35px;
    
}

.top_player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}


.players {
    display: flex;
    align-items: center;
}


.players img {
    width: 56px;
    height: 56px;
}

.Player_Name {
    margin-left: 15px;
    font-size: 18px;
}

hr {
    border: 1px solid #d1d1d1;
    margin-top: 30px;
}