body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
}

.section_title {
    color: #562EFF;
    font-size: 24;
    margin-bottom: 35px;
    
}

.top_player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}


.players {
    display: flex;
    align-items: center;
}


.players img {
    width: 56px;
    height: 56px;
}

.Player_Name {
    margin-left: 15px;
    font-size: 18px;
}

hr {
    border: 1px solid #d1d1d1;
    margin-top: 30px;
}

.Top_Blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.article {
    display: flex;
   
}

.article div {
    margin-right: 20px;
}
.article img {
    width: 200px;
    height: 140px;
}

.Last_Blog {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 252px);
    grid-gap: 52px;
}

.article_last {
    background-color: #fffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    height: 269px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.article_last img {
    width: 224px;
    height: 104px;
    margin-top: 15px;
}

.article_last > div {
    display: grid;
    grid-template-rows: 1fr, 1fr;
}
.Top_Name {
    margin: 0;
}
.Name {
    margin: 0;
}

.Problem {
    margin: 20px;
}

.fa-star {
    color: orange;
    font-size: 12px;
}

.none {
    color: gray;
}

.fa-clock {
    color: #FF4A60;
}

.ratings {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    
}



.bg-color {
    background-color: #FFE4E8;
    color: #FF4A60;
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: 25px;
    width: 80px;
    justify-content: space-evenly;
}
