body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
}

.section_title {
    color: #562EFF;
    font-size: 24;
    margin-bottom: 35px;
    
}

.top_player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}


.players {
    display: flex;
    align-items: center;
}


.players img {
    width: 56px;
    height: 56px;
}

.Player_Name {
    margin-left: 15px;
    font-size: 18px;
}

hr {
    border: 1px solid #d1d1d1;
    margin-top: 30px;
}

.Top_Blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.article {
    display: flex;
   
}

.article div {
    margin-right: 20px;
}
.article img {
    width: 200px;
    height: 140px;
}

.Last_Blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.article_last {
    background-color: rgb(224, 225, 226);
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article_last img {
    width: 224px;
    height: 104px;
    margin-top: 25px;
}